<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            margin: auto;width: 400px;
            font-size: 40px;
        }
        i{
            font-size: 20px;
            font-style: normal;
        }
    </style>
</head>
<body>
    <div>
        <h3>{{error}}</h3>
        <p>错误码： {{code}}</p>
        <i><span></span> 秒后跳转</i>
    </div>
    <script>
        let span = document.querySelector("span");
        let time = 6;

        setInterval(function () {
            time--;
            span.textContent=time;
            if (time===0) location.replace("http://10.9.47.242:3000");
        },1000)
        
    </script>
</body>
</html>